<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h2>Users</h2>
	<h3>Enter new user:</h3>
	<form action="/saveuser" method="GET">
		<pre>
  User Name: <input name="username" /> <br />
  Password:  <input name="password" /> <br /> 
  Enabled:   <input type="checkbox" name="enabled" checked="checked" /><br />
  Details:   <input name="details" /><br />
  Administrator:  <input type="checkbox" name="role"/><br/>
    <input type="submit" value="Save" >
        </pre>
	</form>
	<br/>
</body>
</html>